<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <h1>todo<span>List</span></h1>
    <p>A simple todo list app with our json api</p>
    <input type="text" name="newTodo" id="newTodo">
    <ul id="todoList">
        <li class="task">Buy Croissant<span>X</span></li>
        <li class="task done">Clean House</li>
        <li class="task">Swimming</li>
    </ul>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="app.js"></script>
</body>
</html>